<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>{% block title_block %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Home</a>
            </div>
            <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'auth_logout' %}?next=/">Logout</a></li>
                {% else %}
                <li><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
                <li><a class="nav-link" href="{% url 'registration_register' %}">Sign Up</a></li>
                {% endif %}
                <li><a class="nav-link" href="{% url 'contact_me' %}">Contact me</a></li>
            </ul>
        </nav>
        <div class="container-fluid">
                {% block body_block %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    </body>
</html>